.min-h-screen
{
    min-height: 100vh;
}



.mx-auto
{
margin-left: auto;
margin-right: auto;
}
.flex
{
    display: flex;
}


.justify-between 
{
    justify-content: space-between;
}
.justifycenter
{
    justify-content: center;
}
.bgred
{
    background-color: crimson;
}
.navbar 
{
   
    display: flex;
    height: 67px;
   
    
   
}
.flexcol
{
    flex-direction: column;
}
.navbar li
{
    list-style: none;
    margin:   0 12px;
}
.fontbold
{
    font-weight: bold;
}

.text-blue
{
    color: rgb(111, 23, 234);
}
.fontsize
{
    font-size: x-large;
    position: absolute;
    top: 15px;
}



